akka {
  loglevel = INFO
}

akka.http.server {
  request-timeout = infinite
  idle-timeout = infinite
}

owlery {
    port = 8080
    host = localhost
	kbs = [
		{
			name = uberon
			location = "http://purl.obolibrary.org/obo/uberon/ext.owl"
			reasoner = structural
		},
		{
			name = phenoscape
			location = "/Users/jim/Desktop/owlery/phenoscape"
			reasoner = elk
		},
		{
			name = tto
			location = "/Users/jim/Desktop/owlery/tto"
			reasoner = structural
		}
	]
}