akka {
  loglevel = INFO
}

akka.http.server {
  request-timeout = infinite
  idle-timeout = infinite
}

owlery {
    port = 8080
    host = localhost
	kbs = [
		{
			name = uberon
			location = "http://purl.obolibrary.org/obo/uberon/ext.owl"
			reasoner = structural
			catalog = "catalog.xml"
		},
		{
			name = phenoscape
			location = "/Users/jim/Desktop/owlery/phenoscape"
			reasoner = elk
		},
		{
			name = tto
			location = "/Users/jim/Desktop/owlery/tto"
                        # location may be a local directory name or a URL.
			reasoner = structural
                        # reasoner should be "structural", "elk", "hermit", "jfact", or "whelk"
                        # structural does no DL reasoning
                        # elk and whelk are limited to the OWL EL profile
                        # hermit and jfact are OWL DL reasoners.
		}
	]
}